@model E_biblioteka.Models.Request

@{
    ViewBag.Title = "Details";
}

<br>
<h2>Request details</h2>
<hr />

<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-lg-2" style="width: 10%;">
            <p style="font-weight: bold;">Book title</p>
            <p style="font-weight: bold;">Book author</p>
            <p style="font-weight: bold;">Comment</p>
        </div>
        <div class="col-lg-4" style="width: 40%;">
            <p>@Model.Title</p>
            <p>@Model.AuthorsName</p>
            <p style="width: 500px; word-wrap: break-word;">@Model.Comment</p>
        </div>
    </div>
    <a href="@Url.Action("Index", "Requests")" class="btn btn-default" style="margin-top: 15px;">Back to list</a>
</div>
